main{
    height:90vh;
}

main .row:first-child{
    height:100%;
}

header{
    background-color:#333;
    color:white;
    text-align:center;
    padding:10px;
}

.search{
    background-color:rgb(212, 212, 212);
    height:100%;
    padding:20px;
}

#search-box{
    width:80%;
}

#search-button{

}

.city-display{
    padding:20px;
    height:50%;
}

.forecast-display{
    height:100%;
    padding:20px;
}

#uv-index{
    padding:5px 10px;
}